Package: com.irepo.reswitch
Name: ReSwitch
Depends: mobilesubstrate
Depiction: https://theirepo.com/cydia/depictions/ReSwitch.php
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: william vabrinskas
Author: william vabrinskas
Section: Tweaks
Version: 0.0.1-54
Installed-Size: 72
